/* Google fonts Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,200;1,400;1,500&display=swap');

img {
    max-width: 100%;
    height: auto;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.ml-15 {
    margin-left: 15px;
}
/* Margin-top */
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
/* Margin-bottom */
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.inner-pad {
    padding: 30px;
}
.center-holder {
    text-align: center;
}
.left-holder {
    text-align: left;
}
.right-holder {
    text-align: right;
}
/*- buttons -*/
.button-primary {
    display: inline-block;
    font-size: 15px;
    color: #000020;
    padding: 10px 25px 10px 25px;
    border: 2px solid #32F119;
    border-radius: 5px;
    background: #32F119;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.button-lg {
    font-size: 17px;
    font-weight: 400;
}
/* Clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
