#topBar {
    min-height: 40px;
    background: #000C30;
}
.topBar-left {
    padding: 10px 0;
}
.topBar-left li {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    list-style-type: none;
    float: left;
    margin-top: 0;
    padding: 4px 10px 10px 0;
}
.topBar-left li i {
    font-size: 15px;
    color: #18ba60;
    padding-right: 7px;
}
.topBar-right {
    padding: 12px 0;
}
.topBar-right li {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 4px 10px 10px 0;
}
.topBar-right li i {
    font-size: 15px;
    color: #18ba60;
    padding-right: 7px;
}
.topBar-right li a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}
